@import '_normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

$sans:					'Open Sans', sans-serif;
$reg:						400;
$semi:					600;
$bold:					800;

$black:					#1C2932;
$orange:				#F37121;